@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}

body {line-height: 1;}

ol, ul {list-style: none;}

blockquote, q {quotes: none;}

input {outline: none; border: none;}

blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}

table {border-collapse: collapse; border-spacing: 0;}

*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol,li{list-style: none;}
a{text-decoration: none; color: #333;}

body {font-family:'Pretendard' ;}
.container {width: 1120px; height: 100%; margin: 0 auto;}


/* 헤더 */
header {width: 1905px; height: 116px; margin: 0 auto;}
header{width:100%; height: 115px;}
.header_top {width: 100%; height: 50%; display: flex; justify-content: space-between; align-items: center;}
.logo {width: 70px; height: 35px;}
.h_right {width: 400px; height: 35px; display: flex;}
.search {width: 260px; height: 100%;background-color: #eee; border-radius: 10px; display: flex; justify-content: space-around; align-items: center;}
.search input {width: 80%; height: 100%; float: right; background-color: #eee;}
.search i {width: 26px; padding: 3%; color: #787878;}
.menu {width: 200px; height: 100%; display: flex; position: relative; left: 20px;  margin-top: 8px;}
.menu li{display: inline; margin-top: 5px; color: #787878;}
.menu li:not(:last-child)::after{content: " · ";font-size: 5px; padding: 0 20px;}
.header_b {width: 1170px; height: 52px; display: flex; justify-content: space-between; align-items: center;}
.header_b nav {width: 300px; height: 52px;}
.header_b nav ul {display: flex; justify-content: space-between;}
.header_r {width: 215px; height: 50px; justify-content: space-between;}
.header_r ul {display: flex; align-items: center;}
.category {width: 225px; height: 25px;display: flex; justify-content: space-between;}



/* 풋터 */
footer {width: 1170px; height: 346px; margin: 0 auto; display: flex; margin-top: 20px;}
.footbox1{width: 1120px;margin: 0 auto;display: flex; justify-content: space-between;}
.fbox1 {width: 700px; height: 100%; display: flex;}
.fbox2 {width: 400px; height: 100%; display: flex; justify-content: center; margin-top: 50px;}
.fbox2 a {height: 40px; width: 40px; margin-right: 10px; border:1px solid #444b; border-radius: 50px; padding: 7px 7px; opacity: 60%;}
.fmenu{margin-top: 30px; margin-right: 10px; width: 150px;}
.fmenu li {font-size: 15px; line-height: 30px;}
.title {font-weight: 700;}