@charset "utf-8";


/* 슬라이더 */

#slider {width: 1120px; height: 420px; margin: 0 auto;}
 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .new{width: 1120px; height: 300px; margin: 0 auto; margin-bottom: 20px;}


